[DEFAULT]
# initial_page = https://www.google.com/
initial_page = https://www.npr.org/
checking_url = npr.org

# fetched_set_file = fetched.txt
fetched_set_file = npr_test.txt

max_retry = 3
level_threshold = 2

[FOLDER]
page_source = ../page_source/

[STORAGE]

database_name = npr_test
collection_name = data