[DEFAULT]
# crawler starting page

initial_page = https://www.ettoday.net/
# initial_page = https://www.npr.org/

# checking if it's internal site

checking_url = ettoday.net
# checking_url = npr.org


# fetched_set_file = fetched.txt
fetched_set_file = ettoday.txt
# fetched_set_file = npr_test.txt

max_retry = 3
assumed_non_content_levels = 2
max_internal_depth = 10
max_external_depth_= 1

[FOLDER]
page_source = ../page_source/

[STORAGE]

database_name = ettoday
collection_name = data

[DEBUG]

take_screenshot = true